* {
    margin: 0;
}

:root {
    --ion-color-favorite: #2b2d42; /* Deep Blue */
    --ion-color-favorite-contrast: #ffffff;
    --ion-color-favorite-shade: #23253a;
    --ion-color-favorite-tint: #333554;

    --ion-color-accent: #6b5b95; /* Cosmic Purple */
    --ion-color-accent-contrast: #ffffff;
    --ion-color-accent-shade: #5d4e80;
    --ion-color-accent-tint: #7b6ca5;

    --ion-color-highlight: #8d99ae; /* Celestial Gray */
    --ion-color-highlight-contrast: #ffffff;
    --ion-color-highlight-shade: #7c8694;
    --ion-color-highlight-tint: #9fa9bb;

    --ion-color-background: linear-gradient(90deg, #2b2d42, #6b5b95, #8d99ae); /* Gradient background */

    --ion-color-text: #ffffff; /* White for text */
    --ion-color-subtext: #a5a5a5; /* Light Gray for subtext */
  }


  /* ----------------------Styling Porfolio--------------------------- */
  .portfolioInnerContainer {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 12rem;
}

.portfolioTextContainer {
    width: 50%;
}

.portfolioListContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.portfolioListItem {
    border: 1px solid black;
    border-radius: 7px;
    list-style-type: none;
    margin: 0.5rem;

}


/* Media query for screens with a maximum width of 600px (typical for mobile devices) */
@media (max-width: 768px) {
    .portfolioInnerContainer {
        margin: 1rem;
        display: flex;
        flex-direction: column;
    }

    .portfolioTextContainer {
        width: 100%;
    }

}



/*----------------Custom style footer----------------------- */

.footerContainer {
    background-color: var(--ion-color-accent);
}

.footerColumn {
    text-align: center;
}

.footerLink {
    color: white;
}

.footerItem {
    color: white;
}

.footerItem > a {
  color: white;
  text-decoration: none;
}

.footerCopyright {
    color: white;
}

/* --------------------------------------------about----------------------------------------- */

.aboutContainer {
    margin-top: 2rem;

    @media (min-width: 769px) {
        margin-top: 1rem;
    }

}
    .aboutHeader {
        font-size: 3rem;
        font-weight: 600;
        margin: 1.5rem;

    @media (min-width: 769px) {
        margin-left: 9rem;
        margin-bottom: 2rem;
    }
    @media (min-width: 1450px) {
        font-size: 4rem;
    }
}

.aboutInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 769px) {
        flex-direction: row;
    }

}
    .aboutText {
        margin: 0 1.5rem;
        font-weight: 500;
        line-height: 1.6;

    @media (min-width: 769px) {
        width: 50vw;
        font-size: 1.1rem;
        font-weight: 500;
    }
}


.cvContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cvButton {
    width: 10rem;
    height: 3rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem; /* Add padding for better button appearance */
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */

    &:hover {
        background-color: #333; /* Change color on hover */
    }
}

.aboutImage {
    width: 90vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);

    @media (min-width: 769px) {
        width: 25vw;
        align-self: baseline;
    }
}

/* ----------------------------------------Home-------------------------------- */


.homeContainer {
    background-color: rgb(112, 158, 199);
    display: flex;
    align-items: center;
    justify-content: center;
}


/* main.css or your stylesheet */
.spinning-circle {
    animation: spin 45s linear infinite;
    overflow-y: hidden;
    width: 70%;

  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
