@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Rubik+Doodle+Shadow&display=swap');

* {
  font-family: poppins;
    margin: 0;
}

:root {
    --ion-color-favorite: #2b2d42; /* Deep Blue */
    --ion-color-favorite-contrast: #ffffff;
    --ion-color-favorite-shade: #23253a;
    --ion-color-favorite-tint: #333554;

    --ion-color-accent: #6b5b95; /* Cosmic Purple */
    --ion-color-accent-contrast: #ffffff;
    --ion-color-accent-shade: #5d4e80;
    --ion-color-accent-tint: #7b6ca5;

    --ion-color-highlight: #8d99ae; /* Celestial Gray */
    --ion-color-highlight-contrast: #ffffff;
    --ion-color-highlight-shade: #7c8694;
    --ion-color-highlight-tint: #9fa9bb;

    --ion-color-background: linear-gradient(90deg, #2b2d42, #6b5b95, #8d99ae); /* Gradient background */

    --ion-color-text: #ffffff; /* White for text */
    --ion-color-subtext: #a5a5a5; /* Light Gray for subtext */
  }

  /* -----------------------------Styling header------------------------------- */

  .headerContainer {
    background-color: var(--ion-color-accent);
    height: 8vh;
  }

  .headerUlContainer {


  }

  .headerLinkContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 8vh;

  }

  .headerLink {
    color: white;
    text-decoration: none;
  }

  /* ----------------------Styling PorfolioList--------------------------- */

  .portfolioListTitleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;

  }

  .portfolioListTitle {

    font-weight: 700;
  }
  .portfolioInnerContainer {
    border-radius: 7px;
    display: flex;
    justify-content: space-evenly;
    margin: 4rem 12rem;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
    background-color: #fcf2f2;
}

.portfolioInnerContainer:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.portfolioTextContainer {
    width: 50%;
}

.portfolioListContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.portfolioListItem {
    border: 1px solid black;
    border-radius: 7px;
    list-style-type: none;
    margin: 0.5rem;
    padding: 0.3rem;

}

.portfolioListImage {
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px 0px;

}


/* Media query for screens with a maximum width of 600px (typical for mobile devices) */
@media (max-width: 769px) {
    .portfolioInnerContainer {
        margin: 1rem;
        padding: 1.2rem;
        display: flex;
        flex-direction: column;
    }

    .portfolioTextContainer {
        width: 100%;
    }

}



/*----------------Custom style footer----------------------- */

.footerContainer {
    background-color: var(--ion-color-accent);
}

.footerColumn {
    text-align: center;
}

.footerLink {
    color: white;
}

.footerItem {
    color: white;
}

.footerItem > a {
  color: white;
  text-decoration: none;
}

.footerCopyright {
    color: white;
}

/* --------------------------------------------about----------------------------------------- */

.aboutContainer {
    margin-top: 2rem;

    @media (min-width: 769px) {
        margin-top: 1rem;
    }

}
    .aboutHeader {
        font-size: 3rem;
        font-weight: 600;
        margin: 1.5rem;

    @media (min-width: 769px) {
        margin-left: 9rem;
        margin-bottom: 2rem;
    }
    @media (min-width: 1450px) {
        font-size: 4rem;
    }
}

.aboutInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 769px) {
        flex-direction: row;
    }

}
    .aboutText {
        margin: 0 1.5rem;
        font-weight: 500;
        line-height: 1.6;

    @media (min-width: 769px) {
        width: 50vw;
        font-size: 1.1rem;
        font-weight: 500;
    }
}


.cvContainer {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cvButton {
    width: 10rem;
    height: 3rem;
    font-weight: 600;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem; /* Add padding for better button appearance */
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */

    &:hover {
        background-color: #333; /* Change color on hover */
    }
}

.aboutImage {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    @media (min-width: 769px) {
        align-self: baseline;
    }
}

/* ----------------------------------------Home-------------------------------- */


.homeContainer {
    background-color: rgb(89, 94, 98);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 80vh;


    @media (min-width: 769px) {
        flex-direction: row;
    }
}

.rightContainer {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6d3d3;
    height: 80vh;
    width: 100vw;

    @media (min-width: 769px) {
        width: 40vw;

    }
}

.leftContainer {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb354f;
    height: 80vh;
     width: 100vw;

    @media (min-width: 769px) {
        width: 60vw;

    }
}


/* main.css or your stylesheet */
.spinning-circle {
    animation: spin 45s linear infinite;
    overflow-y: hidden;
    width: 50%;
    border-radius: 50%;
  }


  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .homeText {
    font-size: 2rem;
  }
