/* * {
  background-color: rgb(224, 224, 224);
  margin: 0;
}



.portfolioInnerContainer {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  margin: 4rem 12rem;
}

.portfolioTextContainer {
  width: 50%;
}

.portfolioListContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.portfolioListItem {
  border: 1px solid black;
  border-radius: 7px;
  list-style-type: none;
  margin: 0.5rem;
}


@media (max-width: 768px) {
  .portfolioInnerContainer {
    margin: 1rem;
    display: flex;
    flex-direction: column;
  }

  .portfolioTextContainer {
    width: 100%;
  }

  .portfolioListItem {
  }
} */
